*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body{
    background-color: #D5E1EF;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border-radius: 20px;
    background-color: #fff;
    width: 320px;
    min-width: 320px
}

.qr-code{
    width: 90%;
    margin: 16px;

}

.qr-code img{
    width: 100%;
    border-radius: 10px;
}

/* Desc below qr-code */

.qr-desc{
    margin: 16px 26px;
    text-align: center;
}

.qr-desc h1{

    color: #1D2942;
    font-size: 2.2rem;
    margin-bottom: 16px;
}

.qr-desc p{
    font-size: 1.5rem;
    color: #A9ABB6;
    margin-bottom: 45px;
}

.attribution { 
    position: fixed;
    bottom: 10px;
    left: 10%;
    right: 10%;
    font-size: 11px; 
    text-align: center;
 }
.attribution a { color: hsl(228, 45%, 44%); }